#files
app.filedir=data
app.slangdict=slang.txt
app.subjectivefile=subjective_tweets.txt
app.objectivefile=objective_tweets.txt
app.strongwordsfile=strong-words.txt
app.polaritytweets=polarityTweets.csv
app.wiebesentimentdict=polclues.tff
app.intensifierdict=intensifiers2.tff
app.polarityshifterdict=valenceshifters.tff
app.stopwordsdict=validStopWords.txt
app.postagger=bidirectional-distsim-wsj-0-18.tagger

#search config
#note: set search language according to ISO 639 code. See http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
app.searchlang=en

#bayesian config
app.subjthreshold=0.9
app.bayesianvariation=0.07
app.polthreshold=0.7

#sentiment dictionaries
app.wiebesentimentdictngramcount=6

#strong words config
app.strongwordsnumber=1

#jaspell dictionaries
app.dictdir=dict
app.englishdict=english.txt
app.common-misspells=common-misspells.txt

#tweet miner files
app.posminedtweets=posminedtweets.txt
app.negminedtweets=negminedtweets.txt
app.subjminedtweets=subjminedtweets.txt
app.objminedtweets=objminedtweets.txt

#opinion mining algorithms config
app.omalgthreadpoolsize=10